<div class="announcement-slider">
  <div class="splide" id="announcementSplide" aria-label="Announcements">
    <div class="splide__track">
      <ul class="splide__list">
        
          <li class="splide__slide">
             Welcome to <span style="  font-family: Roots N Branches; font-size:16px;"> Oh Krab! </span> From Coastline to City Streets   
          </li>
      
        
          {% comment %} <li class="splide__slide">
            15% OFF On first prepaid order and 5% off on COD
 
          </li> {% endcomment %}
      
        
          {% comment %} <li class="splide__slide">
           5% Off On all prepaid orders

          </li> {% endcomment %}
      
        
      
      </ul>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/css/splide.min.css">

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Splide('#announcementSplide', {
      type   : 'loop',
      autoplay: true,
      interval: 3000,
      arrows: false,
      pagination: false,
      speed: 800,
      pauseOnHover: true,
    }).mount();
  });
</script>
